{% extends 'bossbase.html' %}
{% load staticfiles %}

{% block bosscontent %}
          <h1 class="page-header">Dashboard-完成率</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder" >
              <div id="main1" style="height: 250px;">

              </div>
              <h4>功能开通&产品管理&业务办理</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" >
              <div id="main2" style="height: 250px;">

              </div>
              <h4>计费</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" >
              <div id="main3" style="height: 250px;">

              </div>
              <h4>提醒及短信管理</h4>
              <span class="text-muted"></span>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder" >
              <div id="main4" style="height: 250px;">

              </div>
              <h4>评审及修改定版</h4>
              <span class="text-muted"></span>
            </div>
          </div>

          <h2 class="sub-header">上线跟踪</h2>
          <div class="table-responsive">
            <h4>模块1：功能开通</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list1 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>模块2：产品管理</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list2 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>模块3：业务办理</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list3 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>模块4：计费</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list4 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>模块5：提醒</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list5 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <h4>模块6：短信管理</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list6 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

          <h4>模块7：验收案例评审</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list7 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

          <h4>模块8：根据评审意见修改定版</h4>
            <table class="table">
                <thead class="text-center">
                    <tr class="text-center">
                        <th class="text-center">
                            #
                        </th>
                        <th class="text-center">
                            事宜
                        </th>
                        <th class="text-center">
                            负责人
                        </th>
                        <th class="text-center">
                            计划完成时间
                        </th>
                        <th class="text-center">
                            实际完成时间
                        </th>
                        <th class="text-center">
                            状态
                        </th>
                        <th class="text-center">
                            备注
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in boss_spec_list8 %}
                    <tr class="text-center {% if item.state == 1 %}active{% elif item.state == 0 %}warning{% else %}success{% endif %}">
                        <td>
                            {{ item.itemid }}
                        </td>
                        <td>
                            {{ item.name }}
                        </td>
                        <td>
                            {{ item.incharge }}
                        </td>
                        <td>
                            {{ item.plandate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {{ item.enddate | date:'Y-m-d' }}
                        </td>
                        <td>
                            {% if item.state == 0 %}进行中{% elif item.state == 1 %}已完成{% else %}未启动{% endif %}
                        </td>
                        <td>
                            {{ item.note }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

          </div>
     {% endblock %}

    {% block bosscontentjs %}
    <script type="text/javascript">

		 // 基于准备好的dom，初始化echarts实例
	    var myChart1 = echarts.init(document.getElementById('main1'));
		myChart1.showLoading();
	    // 指定图表的配置项和数据
	    var valueorg = "{{count1done}}"*100/"{{count1all}}";
	    var value = valueorg.toFixed(2);
        <!--  var value = 60 -->
	    var option1 = {
		    tooltip : {
		        formatter: "{a} <br/>{b} : {c}%"
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            restore: {},
		            saveAsImage: {}
		        }
		    },
		    series: [
		        {
		            name: '业务指标',
		            type: 'gauge',
		            detail: {formatter:'{value}%',textStyle:{fontSize: 18, color: 'red', fontWeight: 800}, offsetCenter: [0, '60%']},
		            data: [{value: value}],
		        }
		    ]
		};

		myChart1.setOption(option1, true);
		myChart1.hideLoading();

         // 基于准备好的dom，初始化echarts实例
	    var myChart2 = echarts.init(document.getElementById('main2'));
		myChart2.showLoading();
	    // 指定图表的配置项和数据
	    var valueorg = "{{count2done}}"*100/"{{count2all}}";
	    var value = valueorg.toFixed(2);
        <!--  var value = 60 -->
	    var option2 = {
		    tooltip : {
		        formatter: "{a} <br/>{b} : {c}%"
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            restore: {},
		            saveAsImage: {}
		        }
		    },
		    series: [
		        {
		            name: '业务指标',
		            type: 'gauge',
		            detail: {formatter:'{value}%',textStyle:{fontSize: 18, color: 'red', fontWeight: 800}, offsetCenter: [0, '60%']},
		            data: [{value: value}],
		        }
		    ]
		};

		myChart2.setOption(option2, true);
		myChart2.hideLoading();

         // 基于准备好的dom，初始化echarts实例
	    var myChart3 = echarts.init(document.getElementById('main3'));
		myChart3.showLoading();
	    // 指定图表的配置项和数据
	    var valueorg = "{{count3done}}"*100/"{{count3all}}";
	    var value = valueorg.toFixed(2);
        <!--  var value = 60 -->
	    var option3 = {
		    tooltip : {
		        formatter: "{a} <br/>{b} : {c}%"
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            restore: {},
		            saveAsImage: {}
		        }
		    },
		    series: [
		        {
		            name: '业务指标',
		            type: 'gauge',
		            detail: {formatter:'{value}%',textStyle:{fontSize: 18, color: 'red', fontWeight: 800}, offsetCenter: [0, '60%']},
		            data: [{value: value}],
		        }
		    ]
		};

		myChart3.setOption(option3, true);
		myChart3.hideLoading();

         // 基于准备好的dom，初始化echarts实例
	    var myChart4 = echarts.init(document.getElementById('main4'));
		myChart4.showLoading();
	    // 指定图表的配置项和数据
	    var valueorg = "{{count4done}}"*100/"{{count4all}}";
	    var value = valueorg.toFixed(2);
        <!--  var value = 60 -->
	    var option4 = {
		    tooltip : {
		        formatter: "{a} <br/>{b} : {c}%"
		    },
		    grid: {
		        left: '3%',
		        right: '4%',
		        bottom: '3%',
		        containLabel: true
		    },
		    toolbox: {
		        feature: {
		            restore: {},
		            saveAsImage: {}
		        }
		    },
		    series: [
		        {
		            name: '业务指标',
		            type: 'gauge',
		            detail: {formatter:'{value}%',textStyle:{fontSize: 18, color: 'red', fontWeight: 800}, offsetCenter: [0, '60%']},
		            data: [{value: value}],
		        }
		    ]
		};

		myChart4.setOption(option4, true);
		myChart4.hideLoading();
    </script>
    {% endblock %}


