{% extends 'cmisupportbase.html' %}
{% load staticfiles %}

{% block cmisupportcontent %}

<div id="toolbar">
  <select class="form-control">
    <option value="">Export Basic</option>
    <option value="all">Export All</option>
    <option value="selected">Export Selected</option>
  </select>
</div>

<table id="table"
       data-toggle="table"
       data-toolbar="#toolbar"
       data-url="/data/data1/"
       data-classes="table table-hover table-condensed"
       data-striped="true"
       data-search="true"
       data-show-refresh="true"
       data-show-toggle="true"
       data-show-export="true"
       data-show-columns="true">
    <thead>
    <tr>
        <th class="col-xs-1" data-field="state" data-checkbox="true" rowspan="2"></th>
        <th class="col-xs-3" data-field="name" data-sortable="true" rowspan="2">Name</th>
        <th class="col-xs-3" data-field="name" data-sortable="true" colspan="3">Info</th>
        <th class="col-xs-1" data-field="stargazers_count" data-sortable="true" rowspan="1">Stars</th>
        <th class="col-xs-1" data-field="forks_count" data-sortable="true" rowspan="1">Forks</th>
        <th class="col-xs-6" data-field="description" data-sortable="true" data-visible="true" rowspan="1">Description</th>
    </tr>
    </thead>
</table>

{% endblock %}
