{% extends 'base.html' %}
{% load staticfiles %}

{% block todolistcss %}

<link href="{% static 'css/styles.css' %}" rel="stylesheet" >
<link href="{% static 'css/jquerysctipttop.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block content %}

    <div class="container" id="main">
        <h1>ToDoList</h1>
        <form action="/additem" method="get" role="form" id="main_input_box">
        <label>
        <input type="text" class="form-control" id="custom_textbox" name="item" placeholder="还有什么事情需要做?">
        <input type="submit" value="Add" class="btn btn-primary add_button" style="background-color: #337AB7">
        </label>
        </form>
        <ol class="list-group list_of_items">
        {% for t in tl %}
        <li class="list-group-item" style="height: 80px">
            <div class="text_holder">
                <p style="float: left;" {% if t.deletetag == 1 %}class="completed_item"{% endif %}>{{ t.item }}</p>
                <div class="btn-group pull-right">
                    <button class="delete btn btn-warning deletebtn">Delete</button>
                    <button class="edit btn btn-success editbtn">Edit</button>
                </div>
            </div>
            <form action="/saveedit" method="get" class="edit_input_box" style="display:none">
                <input type="text" size="50" class="itembox" name="edititem">
                <input type="text" name="id" style="display:none;height: 0;width: 0;" value={{t.id}} >
                <input type="submit" value="submit" class="edit btn btn-success submitbtn" id="submitbtn">
            </form>
            <div class="checkbox">
                <div class="chkcontainer pull-right" style="float: right;position: absolute;" >
                    {% load todolistdate %}
                    <span style="float: right;position: absolute;width: 220px;">发布于{{ t.intime | todolistdate }}前</span>
                </div>
            </div>
        </li>
        {% endfor %}
        </ol>
        <div class="pagination">
            <span class="step-links">
                {% if tl.has_previous %}
                    <a href="?page={{ tl.previous_page_number }}{% if item %}&item={{ item }}{% endif %}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ tl.number }} of {{ tl.paginator.num_pages }}.
                </span>

                {% if tl.has_next %}
                    <a href="?page={{ tl.next_page_number }}{% if item %}&item={{ item }}{% endif %}">next</a>
                {% endif %}
            </span>
        </div>
        </div>

{% endblock %}

{% block todolistjs %}

    <script src="{% static 'js/basichomework.js' %}"></script>

{% endblock %}